{% load wagtailcore_tags %}

{# The form of choices defined for the task page #}
{# These choices can help guide users to the right step page #}

<h3 class="h3-heading mb-4">{{ page.question }}</h3>

<form method="GET" action="submit-choice" class="walk-through-form">
    {% for choice in page.choices %}
        {% include 'roadmap/task_list/partials/_choice_checkbox.html' with index=forloop.counter %}
    {% endfor %}
    <div class="row mt-4">
        <div class="col-2">
            <a href="{{ parent_url }}" class="btn btn-base">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                Back
            </a>
        </div>
        <div class="col-2 offset-md-8 col-sm-offset-8">
            <button class="btn btn-base btn-base-blue" id="btn-submit">
                Next
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>

</form>

<script>
    if(window.location.hostname !== '127.0.0.1' &&
       window.location.hostname !== 'localhost') {

        $(function () {
            $('#btn-submit').click(function (evt) {
                var selectedInputs = $('input:checked'),
                    selectedText = '',
                    taskListTitle = $('.content').data('name');
                selectedInputs.siblings('label').each(function (i, label) {
                   selectedText += ($(label).text() + ',')
                });

                ga('send', 'event', 'walkthroughForm', 'submit', taskListTitle, selectedText);
            });
        });
    }
</script>
