{% extends "roadmap/base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block left-content %}
    <h1 class="h1-heading text-center roadmap-title"><strong>{{ page.header }}</strong></h1>
    <div class="row justify-content-center roadmap-statement">
        <div class="col description mb-4 mt-4 text-center">
            <h2 class="h2-heading">{{ page.mission_statement}}</h2>
        </div>
        {% if page.video %}
            <div class="col col-md-4 text-center">
                {% embed page.video max_width=400 %}
            </div>
        {% endif %}
    </div>

    {% if page.testimonials %}
        <div id="testimonials-carousel" class="carousel slide testimonials" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for testimonial in page.testimonials %}
                    {% if forloop.counter == 1 %}
                        <div class="carousel-item active">
                            <span class="carousel-text"><h4 class="h4-heading">{{ testimonial.value.quote }}</h4> - {{ testimonial.value.name }}</span>
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <span class="carousel-text"><h4 class="h4-heading">{{ testimonial.value.quote }}</h4> - {{ testimonial.value.name }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="card-group">
    {% for section in page.sections %}
        <div class="card text-center">
            <h4 class="card-title h4-heading mb-2"><strong>{{ section.value.title }}</strong></h4>
            {% image section.value.image width-75 class="card-img-top mx-auto" alt="Card image" %}
            <div class="card-block">
                <ul class="list-group">
                    {% for list in section.value.pages %}
                        <li class="list-group-item">
                            <a class="task-list-title" href="{{ list.url }}">
                                {{ list.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
