{% extends "roadmap/base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block left-content %}
    <div class="row">
        <h1 class="h1-heading">{{ page.header }}</h1>
    </div>
    <div class="row description">
        {{ page.body|richtext }}
    </div>

    {% for section in page.sections %}
        <div class="row mt-4">
            <h3 class="h4-heading blue-heading"><strong>{{ section.value.title }}</strong></h3>
        </div>
        {% for list in section.value.pages %}
            <div class="row roadmap-task p-2">
                <div class="col">
                    <a class="task-list-title" href="{{ list.url }}">
                        {{ list.title }}
                    </a>
                </div>
                <div class="col-3">
                    <a href="{{ list.url }}" class="btn roadmap-btn">Start</a>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
