{% extends "roadmap/base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailembeds_tags %}

{% block left-content %}
    <div class="row mb-4">
        <div class="col text-center">
            <h1 class="h1-heading">{{ page.header }}</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col description">
            {{ page.mission_statement|richtext }}
        </div>
        {% if page.video %}
            <div class="col text-center">
                {% embed page.video max_width=300 %}
            </div>
        {% endif %}
    </div>

    {% if page.testimonials %}
        <div id="testimonials-carousel" class="carousel slide testimonials mb-4" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% for testimonial in page.testimonials %}
                    {% if forloop.counter == 1 %}
                        <div class="carousel-item active">
                            <p class="carousel-text">{{ testimonial.value.quote }} - {{ testimonial.value.name }}</p>
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <p class="carousel-text">{{ testimonial.value.quote }} - {{ testimonial.value.name }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="card-group">
    {% for section in page.sections %}
        <div class="card text-center">
            <h4 class="card-title h4-heading"><strong>{{ section.value.title }}</strong></h4>
            {% image section.value.image width-100 class="card-img-top mx-auto" alt="Card image" %}
            <div class="card-block">
                <ul class="list-group">
                    {% for list in section.value.pages %}
                        <li class="list-group-item">
                            <a class="task-list-title" href="{{ list.url }}">
                                {{ list.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- <div class="row mt-4">
            <h3 class="h4-heading blue-heading"><strong>{{ section.value.title }}</strong></h3>
        </div>
        {% for list in section.value.pages %}
            <div class="row roadmap-task p-2">
                <div class="col">
                    <a class="task-list-title" href="{{ list.url }}">
                        {{ list.title }}
                    </a>
                </div>
                <div class="col-3">
                    <a href="{{ list.url }}" class="btn roadmap-btn">Start</a>
                </div>
            </div>
        {% endfor %} -->
    {% endfor %}
    </div>
{% endblock %}
