{% load wagtailcore_tags %}

{# Page with buttons that link to external resources defined in related_resources #}
{# This means there are NO wagtail step pages associated with this task list #}

<div class="row">
    <h1 class="h1-heading">{{ page.header }}</h1>
</div>
<div class="row">
    {{ page.self_service_description|richtext }}
</div>
<div class="row card-deck">
    {% for step in page.related_resources.all %}
        {% include 'roadmap/step/partials/_step_btn.html' with step=step %}
    {% endfor %}
</div>
<div class="row mt-5">
    <a href="{{ page.get_parent.url }}" class="task-page-link">
        Go back
    </a>
</div>