{% load wagtailcore_tags %}

{# This view emphasizes the self service option by displaying all the step pages as buttons #}
{# A link at the bottom will take the user to the form of choices #}

<div class="row">
    <h1 class="h1-heading">{{ page.header }}</h1>
</div>
<div class="row">
    {{ page.self_service_description|richtext }}
</div>
<div class="row card-deck">
    {% for step in page.steps.all %}
        {% include 'roadmap/content_blocks/../step/_step_btn.html' with step=step %}
    {% endfor %}
</div>
<div class="row mt-5">
    <div class="col-md-7">
        <a href="{{ page.url }}walk-through" class="task-page-link">
            {{ page.walk_through_description|richtext }}
        </a>
    </div>
    <div class="col-md-2 text-right offset-md-3">
        <a href="{{ page.get_parent.url }}" class="task-page-link">
            Go back
        </a>
    </div>
</div>
