{% load wagtailcore_tags %}

{# This view emphasizes the self service option by displaying all the step pages as buttons #}
{# A link at the bottom will take the user to the form of choices #}

<div class="row">
    <h4 class="h4-heading"><strong>{{ page.header }}</strong></h4>
</div>
<div class="row mb-4">
    {{ page.self_service_description|richtext }}
</div>
<div class="row">
    <div class="col">
        {% include 'roadmap/task_list/partials/_choice_form.html' with parent_url=page.url %}
    </div>
    <div class="col card-deck">
        {% for step in steps %}
            {% include 'roadmap/step/partials/_step_btn.html' with step=step %}
        {% endfor %}
    </div>
</div>
