{% extends "roadmap/base.html" %}

{% load wagtailcore_tags %}

{% block left-content %}
    <div class="row">
        <div class="col">
            <i class="fa fa-plus-square add-to-check-list mr-2" aria-hidden="true" data-id="{{ page.id }}" data-title="{{ page.title }}"></i><h1 class="h1-blue-heading mb-0 step-header">{{ page.title }}</h1>
        </div>
    </div>

    <div class="row step-body">
        <div class="col">
            {{ page.body|richtext }}
        </div>

        {% if page.address or page.contact %}
            <div class="col">
                {% if page.contact %}
                    {% include 'roadmap/partials/contact.html' with contact=page.contact %}
                {% endif %}
                {% if page.address %}
                    <div id="map" data-lat="{{page.lat}}" data-lng="{{page.lng}}" data-address="{{page.address}}" style="width:350px;height:350px;"></div>
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% if page.address %}
        <script>
          function initMap() {
            var mapDiv = document.getElementById('map');

            var myLatLng = {lat: Number(mapDiv.dataset.lat), lng: Number(mapDiv.dataset.lng)};

            var map = new google.maps.Map(mapDiv, {
              zoom: 13,
              center: myLatLng
            });

            var contentString = '<div id="content">'+
                '<h3 id="firstHeading" class="firstHeading">Location</h3>'+
                '<div id="bodyContent"> <a href="http://maps.google.com/?q='+mapDiv.dataset.address+'">Go here</a>'
                '</div>'+
                '</div>';

            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });


            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: 'Hello World!'
            });

            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });

            //Required to make sure all links in a rich text field open in a new tab
            $('.rich-text a').attr('target', '_blank');
          }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-_hKQV1UOV4Wsqj8D3SjDUg417An4w4I&callback=initMap"></script>
    {% endif %}
{% endblock %}
