<div class="row">
    <h1 class="h1-heading">{{ page.get_parent.title }}</h1>
</div>
<div class="row step-nav mb-4 mt-2">
    <div class="col">
        <ol class="pl-0">
            {% for step in first_half_steps %}
                {% if step.id == page.id %}
                    <li>{{ step.title }}</li>
                {% else %}
                    <li><a href="{{ step.url }}?ids={{ stepIds }}">{{ step.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    <div class="col">
        <ol start="{{ start|add:1 }}">
            {% for step in second_half_steps %}
                {% if step.id == page.id %}
                    <li>{{ step.title }}</li>
                {% else %}
                    <li><a href="{{ step.url }}?ids={{ stepIds }}">{{ step.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    <ol>
    </ol>
</div>
