{% extends "roadmap/base.html" %}

{# Core page for the task list #}
{# There are three views a user can see depending on the content provided in the admin #}

{% load wagtailcore_tags %}

{% block left-content %}
    {% if page.body %}
        <div class="row mb-4">
            {{ page.body|richtext }}
        </div>
    {% endif %}
    <div class="row">
        {% if page.choices %}
            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                {% include 'roadmap/task_list/partials/_choice_form.html' with parent_url=page.url %}
            </div>
        {% endif %}
        <div class="col">
            {% if showMessage %}
                <div class="row"><div class="col">{{ page.message }}</div></div>
            {% endif %}
            {% for step in steps %}
                {% include 'roadmap/step/partials/_step_btn.html' with step=step %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block right-content %}
    {# If there's no guided tour we just render the related resources as main content #}
    {# No need to also have the right content #}
    <div class="print-page">
        <a href="javascript:window.print()">
            <i class="fa fa-print" aria-hidden="true"></i>
            Print Page
        </a>
    </div>
    {% if page.has_guided_tour %}
        {{ block.super }}
    {% endif %}
{% endblock %}
