{% extends "roadmap/base.html" %}
{% load wagtailcore_tags %}

{# Core page for the task list #}

{% block left-content %}
    <div class="row">
        {% if page.choices %}
            <div class="col-12 col-md-9 col-lg-9 col-xl-9">
                {% include 'roadmap/task_list/partials/_choice_form.html' with parent_url=page.url %}
                <div class="row task-list-links mt-4 mb-4">
                    <div class="col">
                        {% if showMessage %}
                            {{ page.message }}
                        {% else %}
                            <h4 class="h4-heading"><strong>Or choose from below:</strong></h4>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% for step in steps %}
                        <div class="col col-md-3 col-lg-3 col-xl-3">
                            {% include 'roadmap/step/partials/_step_btn.html' with step=step %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% include 'roadmap/partials/checklist.html' %}
    </div>
{% endblock %}