{% extends "roadmap/base.html" %}

{# Core page for the task list #}
{# There are three views a user can see depending on the content provided in the admin #}

{% load wagtailcore_tags %}

{% block left-content %}
    <div class="row">
        <div class="col">
            <h4 class="h4-heading"><strong>{{ page.header }}</strong></h4>
        </div>
    </div>
    <div class="row mb-4">
        {{ page.self_service_description|richtext }}
    </div>
    <div class="row">
        <div class="col">
            {% include 'roadmap/task_list/partials/_choice_form.html' with parent_url=page.url %}
        </div>
        <div class="col">
            <div class="card-deck">
                {% for step in steps %}
                    {% include 'roadmap/step/partials/_step_btn.html' with step=step %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block right-content %}
    {# If there's no guided tour we just render the related resources as main content #}
    {# No need to also have the right content #}
    <div class="print-page">
        <a href="javascript:window.print()">
            <i class="fa fa-print" aria-hidden="true"></i>
            Print Page
        </a>
    </div>
    {% if page.has_guided_tour %}
        {{ block.super }}
    {% endif %}
{% endblock %}
