{% load wagtailcore_tags %}
    <div class="row">
        <h1>{{ page.header }}</h1>
    </div>

    <div class="row">
        {{ page.body|richtext }}
    </div>

    <div class="row">
        <span class="task-list-A-header">Choose which type of help is best for you...</span>
    </div>

    <div class="row task-list">
        <div class="col task-list-section p-4">
            {{ page.walk_through_description|richtext }}
            <a class="btn task-list-btn center-block" href="{{ page.url }}walk-through">
                Show me what I need
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col task-list-section p-4">
            {{ page.self_service_description|richtext }}
                <a class="btn task-list-btn center-block" href="{{ page.url }}self-service">
                    Explore on my own
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
        </div>
    </div>
