{% extends "roadmap/base.html" %}
{% load wagtailcore_tags %}

{% block left-content %}
    <div class="row">
        <h1>{{ page.header }}</h1>
    </div>
    <div class="row">
        {{ page.body|richtext }}
    </div>
    <div class="row">
        <h2 class="roadmap-checklist-title">Checklist:</h2>
    </div>

    {% for section in page.sections %}
        <div class="row mb-4 mt-4">
            <h3 class="roadmap-section-title">{{ section.value.title }}</h3>
        </div>
            {% for list in section.value.pages %}
                <div class="row roadmap-task p-4">
                    <span class="roadmap-title">{{ list.title }}</span>
                    <a href="{{ list.url }}" class="btn roadmap-btn float-right">Start</a>
                </div>
            {% endfor %}
    {% endfor %}
{% endblock %}
