{% extends "roadmap/base.html" %}
{% load wagtailcore_tags %}

{% block left-content %}
    <div class="row">
        <h1 class="h1-heading">{{ page.header }}</h1>
    </div>
    <div class="row description">
        {{ page.body|richtext }}
    </div>
    <div class="row">
        <h2 class="h2-heading mb-4"><strong>Checklist:</strong></h2>
    </div>

    {% for section in page.sections %}
        <div class="row mt-4">
            <h3 class="roadmap-heading"><strong>{{ section.value.title }}</strong></h3>
        </div>
            {% for list in section.value.pages %}
                <div class="row roadmap-task p-2">
                    <span class="roadmap-title ml-4">{{ list.title }}</span>
                    <a href="{{ list.url }}" class="btn roadmap-btn float-right">Start</a>
                </div>
            {% endfor %}
    {% endfor %}
{% endblock %}
