html { font-size: 62.5%; }

/* BASE.HTML */

#header {
    height: 10rem;
    line-height: 10rem;
    background-color: #4FB2F0;
    color: #fff;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

#footer {
    margin-top: 2rem;
    background-color: #666;
    color: #fff;
    padding: .75rem 1.5rem;
    line-height: 1.5rem;
}

.btn-roadmap {
    background-color: #4FB2F0;
    border-color: #4FB2F0;
    box-shadow: 3px 3px 4px 2px #ccc;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

.btn-roadmap:hover {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

.container {
    font-size: 1.6rem;
}

.container h3 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.container h3 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

/* TASK LIST */

.task-list .outline {
    border: 1px solid #ccc;
    padding: 3rem;
}

.task-list .walk-through {
    margin-right: 1rem;
}

.task-list .btn-roadmap,
.task-list .btn-roadmap:hover {
    font-size: 2.2rem;
}
