html { font-size: 62.5%; }

body { font-family: 'Source Sans Pro', sans-serif; }

/*** GLOBAL STYLES AND RESETS ***/

.card-block {
    border: none;
}

.container-fluid.roadmap {
    font-size: 1.6rem;
    padding: 0;
}

.container-fluid .breadcrumb {
    background-color: white;
}

.container-fluid .breadcrumb-item.active {
    color: #333;
}

.container-fluid .breadcrumb-item {
    color: #636c72;
}

.container-fluid .content,
.container-fluid .nav {
    margin-left: 10px;
}

/* Required to prevent images added in the admin panel from breaking out of the col */
.step-body .rich-text {
    width: 100%;
}

.step-body .rich-text img {
    width: 100%;
}

.w-100 {
    margin-bottom: 1rem;
}

/*** BASE.HTML ***/
#header {
    background-color: #399fd3;
    color: #fff;
    font-size: 3.6rem;
    margin: 0;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
}

#header a.header-title,
#header a:visited.header-title {
    color: #fff;
    text-decoration: none;
    line-height: 10rem;
}

#header .twitter-typeahead {
    line-height: 1rem;
    vertical-align: middle;
}

#header .twitter-typeahead input {
    height: 45px;
    font-size: 16px;
    padding: 6px 12px;
    margin: 0;
}

#header .auto-complete {
    line-height: 10rem;
}

#header .auto-complete .search-title {
    line-height: 1.6rem;
    font-size: 1.6rem;
    font-weight: bold;
}

#footer {
    margin-top: 2rem;
    background-color: #666;
    color: #fff;
    padding: .75rem 1.5rem;
    line-height: 1.5rem;
}

#footer p {
    margin-bottom: 0;
}

a.footer-link {
    color: #fff;
    text-decoration: underline;
}

/*** end of base.html styles ***/

/* HEADING STYLES */

.h1-heading {
    font-size: 3.6rem;
}

.h1-blue-heading {
    font-size: 3.6rem;
    font-weight: 600;
    color: #399fd3;
}

.h2-heading {
    font-size: 3.2rem;
}

.h3-heading {
    font-weight: bold;
    color: #52baff;
    font-size: 2.8rem;
}

.h4-heading {
    font-size: 2.0rem;
}

.rich-text h4 {
    font-size: 2.0rem;
    margin-bottom: 2.0rem;
    margin-top: -1.5rem;
}

.rich-text .responsive-object {
    padding-bottom: 0 !important;
}

.h5-heading {
    font-weight: 600;
}
/*** end of heading styles ***/

/*** BUTTON STYLES ***/
.btn-base {
    background-color: #999;
    border-color: #999;
    box-shadow: 1px 1px 1px 1px #ccc;
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    border-radius: 0;
}

.btn-base i {
    font-size: 1.4rem;
}

.btn-base:hover {
    color: #fff;
    background-color: #399fd3;
    border-color: #399fd3;
    font-size: 1.6rem;
}

.btn-base-blue {
    background-color: #399fd3;
    border-color: #399fd3;
}
.btn-base-blue:hover {
    background-color: #999;
    border-color: #999;
}

.btn-selfservice,
.btn-selfservice:hover {
    background-color: #69579C;
    border-color: #69579C;
    box-shadow: 3px 3px 4px 2px #ccc;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: 1rem;
}

/*** end of button styles ***/

/*** RIGHT CONTENT ***/
.faq-title,
.related-resources-title {
    border-bottom: 2px solid #4FB2F0;
    max-width: 200px;
}

.related-resource a,
.faq a {
    font-size: 16px;
    color: #000;
    font-weight: normal;
}

/* Might be able to get rid of this soon */
.back-link {
    font-style: italic;
    text-decoration: underline;
    color: #399fd3;
}


/*** ROAD MAP ***/

/* Used as the start button on roadmap */
.roadmap-btn {
    width: 80%;
    height: 2.4rem;
    border: 1px solid #399fd3;
    padding: 0;
    line-height: 2.4rem;
    background-color: white;
    color: #333;
    font-size: 1.6rem;
}

.roadmap-btn:hover {
    border: 1px solid #399fd3;
    background-color: #399fd3;
    color: white;
}

.roadmap-task {
    border-bottom: 1px solid #ccc;
    line-height: 2.4rem;
}

.task-list-title,
.task-list-title:hover {
    font-size: 2rem;
    color: #292b2c;
}

/* TASK LIST */

.task-list-section {
    background-color: #399fd3;
    color: white;
    margin-right: 1rem;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(204,204,204,1);
    box-shadow: 4px 4px 5px 0px rgba(204,204,204,1);
    margin-top: 1rem;
}

/* Overrides rich text h3 style */
.task-list-section h3 {
    text-align: center;
    font-weight: bold;
}

.task-list-section .task-list-btn {
    background-color: #00a175;
    color: white;
    text-align: center;
    font-weight: 600;
    width: 80%;
    position: absolute;
    bottom: 15px;
    left: 10%;
    font-size: 1.4rem;
    -webkit-box-shadow: 1px 1px 2px 0px #333;
    -moz-box-shadow: 1px 1px 2px 0px #333;
    box-shadow: 1px 1px 2px 0px #333;
}

.task-list-section .task-list-btn:hover {
    background-color: #fedd44;
    color: black;
    text-align: center;
}

.task-list-section .task-list-btn:focus {
    background-color: #fedd44;
    color: black;
    text-align: center;
}

.task-list-section .rich-text {
    padding-bottom: 4rem;
}

.task-page-link {
    font-size: 1.8rem;
    color: #399fd3;
    text-decoration: underline;
}

.card.step-btn {
    background-color: #399fd3;
    color: white;
    font-size: 1.4rem;
    margin-left: 0 !important;
    margin-top: 1rem;
    min-width: 200px;
}

.step-btn .card-block {
    border: none;
    width: 100%;
}

.step-btn h5 {
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
}

a.step-btn-link {
    text-decoration: none;
    color: white;
}

.step-btn {
    box-shadow: 1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
}

.walk-through-form {
    width: 100%;
    font-size: 1.8rem;
}

.walk-through-form .form-control {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
}


/*** STEP PAGE STYLES ***/

.step-nav {
    border-bottom: 1px solid #ccc;
}

.print-page {
    font-size: 2.4rem;
}

.print-page a {
    color: #399fd3;
}

.contact-section {
    border: 2px solid #4FB2F0;
    padding: 10px;
    border-radius: 5px;
}

/* WALK THROUGH */

.choice-result {
    border-bottom: 1px solid #ccc;
}

.table td {
    border-top: none;
}

.choice-td a {
    color: black;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .container-fluid {
        padding-left: 3.5rem;
    }
}

@media (max-width: 600px) {
    .container-fluid {
        padding-left: 1.8rem;
    }
    .task-list-section .task-list-btn {
        font-size: 1.2rem;
    }
}

/* TWITTER TYPEAHEAD */

#hits-stat a {
  display: inline-block;
  background: #23282D;
  padding: 1px 3px;
}

#hits-stat img {
  height: 1em;
}

.mark, mark {
  padding: 0;
}

.twitter-typeahead {
  width: 100%;
}

.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint {
  width: 100%;
  outline: none;
}

.twitter-typeahead .tt-input:focus {
  border: 2px solid #0097cf;
}

.twitter-typeahead .tt-hint {
  color: #999;
}

.twitter-typeahead .tt-dropdown-menu {
  width: 100%;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 0px;
}

.twitter-typeahead .tt-dropdown-menu .tt-suggestion {
  text-align: left;
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
    color: #399fd3;
}

.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor {
    color: #399fd3;
    background-color: #eee;
}

.twitter-typeahead .tt-dropdown-menu .tt-suggestion a {
  color: #399fd3;
}

.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor a:hover {
  color: #399fd3;
    text-decoration: none;
}

@media (max-width: 370px) {
    /* Needed a small title for small mobile phones (iphone 5 etc) */
    .header-title {
        font-size: 28px;
    }
}