html { font-size: 62.5%; }

/* BASE.HTML */

#header {
    height: 10rem;
    line-height: 10rem;
    background-color: #4FB2F0;
    color: #fff;
    font-size: 3.6rem;
    text-align: center;
    margin: 0;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

#header .bold-title {
    font-weight: bold;
    margin-left: 1rem;
}

#footer {
    margin-top: 2rem;
    background-color: #666;
    color: #fff;
    padding: .75rem 1.5rem;
    line-height: 1.5rem;
}

.btn-roadmap {
    background-color: #4FB2F0;
    border-color: #4FB2F0;
    box-shadow: 3px 3px 4px 2px #ccc;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

.btn-roadmap:hover {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

.btn-selfservice,
.btn-selfservice:hover {
    background-color: #69579C;
    border-color: #69579C;
    box-shadow: 3px 3px 4px 2px #ccc;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: 1rem;
}

.container {
    font-size: 1.6rem;
}

/*
.container h3 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.container h3 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}*/

.faq-title {
    margin-top: 2rem;
}
.related-resource {
    margin-top: 1rem;
}

.related-resource a {
    font-size: 16px;
    color: #000;
    font-weight: normal;
}

.related-resource i {
    margin-right: .5rem;
}

.card-block {
    border: 1px solid #666;
}

/* ROAD MAP */
.roadmap-checklist-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.roadmap-btn {
    width: 4rem;
    height: 2.5rem;
    border: 1px solid #52baff;
    padding: 0;
    line-height: 2.5rem;
    background-color: white;
}

.roadmap-task {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    display: block;
}

.roadmap-section-title {
    padding-left: 1rem;
}

.task-list h3 {
    font-weight: bold;
    margin-bottom: 2rem;
}

/* TASK LIST */

.task-list h1 {
    font-size: 3.2rem;
}

.task-list .outline {
    border: 1px solid #ccc;
    padding: 3rem;
    font-size: 2rem;
}

.task-list .walk-through {
    margin-right: 1rem;
}

.task-list .btn-roadmap,
.task-list .btn-roadmap:hover {
    font-size: 1.8rem;
}
