@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mpu9jx');
  src:  url('../fonts/icomoon.eot?mpu9jx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mpu9jx') format('truetype'),
    url('../fonts/icomoon.woff?mpu9jx') format('woff'),
    url('../fonts/icomoon.svg?mpu9jx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alaska:before {
  content: "\e900";
}
.icon-alcohol-free:before {
  content: "\e901";
}
.icon-application-2:before {
  content: "\e902";
}
.icon-application:before {
  content: "\e903";
}
.icon-bed:before {
  content: "\e904";
}
.icon-bike:before {
  content: "\e905";
}
.icon-books:before {
  content: "\e907";
}
.icon-bus:before {
  content: "\e908";
}
.icon-car-help:before {
  content: "\e909";
}
.icon-car:before {
  content: "\e90a";
}
.icon-caution:before {
  content: "\e90b";
}
.icon-children:before {
  content: "\e90c";
}
.icon-clothes:before {
  content: "\e90d";
}
.icon-computer:before {
  content: "\e90e";
}
.icon-dental-help:before {
  content: "\e90f";
}
.icon-drivers-license:before {
  content: "\e910";
}
.icon-drug-free:before {
  content: "\e911";
}
.icon-education:before {
  content: "\e912";
}
.icon-elderly-person:before {
  content: "\e913";
}
.icon-email-2:before {
  content: "\e914";
}
.icon-email:before {
  content: "\e915";
}
.icon-family-help:before {
  content: "\e916";
}
.icon-food-help:before {
  content: "\e917";
}
.icon-government-building:before {
  content: "\e918";
}
.icon-grocery-cart:before {
  content: "\e919";
}
.icon-home-money:before {
  content: "\e91b";
}
.icon-homeless:before {
  content: "\e91d";
}
.icon-hospital:before {
  content: "\e91e";
}
.icon-house-help:before {
  content: "\e91f";
}
.icon-house:before {
  content: "\e920";
}
.icon-id-card:before {
  content: "\e921";
}
.icon-job-center:before {
  content: "\e922";
}
.icon-library:before {
  content: "\e923";
}
.icon-map:before {
  content: "\e924";
}
.icon-money-help:before {
  content: "\e925";
}
.icon-mountains:before {
  content: "\e926";
}
.icon-parent-with-kids:before {
  content: "\e927";
}
.icon-passport:before {
  content: "\e928";
}
.icon-pencil:before {
  content: "\e929";
}
.icon-people:before {
  content: "\e92a";
}
.icon-phone:before {
  content: "\e92b";
}
.icon-public-assistance:before {
  content: "\e92c";
}
.icon-question:before {
  content: "\e92d";
}
.icon-resume:before {
  content: "\e92e";
}
.icon-shared-housing:before {
  content: "\e92f";
}
.icon-test:before {
  content: "\e930";
}
.icon-wheelchair:before {
  content: "\e931";
}
.icon-wifi:before {
  content: "\e932";
}
.icon-women:before {
  content: "\e933";
}
